@font-face {
  font-family: "Comic Sans MS";
  src: URL('comic-sans.ttf') format('truetype');
}

@font-face {
  font-family: "Comic Papyrus";
  src: URL('comic-papyrus.ttf') format('truetype');
}

* {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

body {
  margin: 0;
  background-color: #8ecae6;
}
